################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skinet-Store/Skinet-Store.csproj
/Skinet-Store/Skinet-Store.csproj
/Skinet-Store/Skinet-Store.csproj
