################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skinet-Store/Skinet-Store.csproj
/Skinet-Store/Skinet-Store.csproj
/Skinet-Store/Skinet-Store.csproj
/Skinet-Store/appsettings.json
*.dll
*.bin
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.AssemblyInfoInputs.cache
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.assets.cache
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.csproj.CoreCompileInputs.cache
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.csproj.FileListAbsolute.txt
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.pdb
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.dll
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.assets.cache
/Skinet-Store/.vs/Skinet-Store/copilot-chat/021ed119/sessions
/Skinet-Store/.vs/Skinet-Store/config
/Skinet-Store/.vs/Skinet-Store
/Skinet-Store/bin/Debug/net8.0
/Skinet-Store/obj/Debug/net8.0
/Skinet-Store/obj
/Skinet-Store.Core/bin/Debug/net8.0/Skinet-Store.Core.deps.json
/Skinet-Store.Core/bin/Debug/net8.0/Skinet-Store.Core.dll
/Skinet-Store.Core/bin/Debug/net8.0/Skinet-Store.Core.pdb
/Skinet-Store.Core/obj/Debug/net8.0/refint/Skinet-Store.Core.dll
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.AssemblyInfo.cs
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.csproj.AssemblyReference.cache
/Skinet-Store.Core/obj/Debug/net8.0/Skinet-Store.Core.sourcelink.json
/Skinet-Store.Infrastructure/obj/Debug/net8.0/refint/Skinet-Store.Infrastructure.dll
/Skinet-Store.Infrastructure/bin/Debug/net8.0/Skinet-Store.Core.dll
/Skinet-Store.Infrastructure/bin/Debug/net8.0/Skinet-Store.Core.pdb
/Skinet-Store.Infrastructure/bin/Debug/net8.0/Skinet-Store.Infrastructure.deps.json
/Skinet-Store.Infrastructure/bin/Debug/net8.0/Skinet-Store.Infrastructure.dll
/Skinet-Store.Infrastructure/obj/project.assets.json
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.AssemblyInfo.cs
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.AssemblyInfoInputs.cache
/Skinet-Store.Infrastructure/obj/Debug/net8.0/ref/Skinet-Store.Infrastructure.dll
*.cache
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.csproj.CoreCompileInputs.cache
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.csproj.FileListAbsolute.txt
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.dll
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.pdb
/Skinet-Store.Infrastructure/obj/Debug/net8.0/Skinet-Store.Infrastructure.sourcelink.json
/Skinet-Store.Infrastructure/obj/Skinet-Store.Infrastructure.csproj.nuget.dgspec.json
/Skinet-Store.Infrastructure/obj/Skinet-Store.Infrastructure.csproj.nuget.g.props
/Skinet-Store.Infrastructure/obj/Skinet-Store.Infrastructure.csproj.nuget.g.targets
/Skinet-Store.Infrastructure/bin/Debug/net8.0/Skinet-Store.Infrastructure.pdb
/Skinet-Store.Infrastructure/Skinet-Store.Infrastructure.csproj
/Skinet-Store.Core/obj/project.assets.json
/Skinet-Store.Core/obj/project.nuget.cache
/Skinet-Store.Core/obj/Skinet-Store.Core.csproj.nuget.dgspec.json
/Skinet-Store.Core/obj/Skinet-Store.Core.csproj.nuget.g.props
/Skinet-Store.Core/obj/Skinet-Store.Core.csproj.nuget.g.targets
/Skinet-Store.Core/Skinet-Store.Core.csproj
